<script>
  $(document).ready(function () {
    $('.icon-event').on('click', function () {
      $('.icon-event').not(this).find('.i').removeClass('fas fa-check fa-xs');
      $('icon-event').not(this).removeClass('filter-menu-active');
      $(this).find('i').toggleClass('fas fa-check fa-xs');
      $(this).toggleClass('filter-menu-active');
    });
    $(function () {
      $("#slider-range").slider({
        range: true,
        min: 250,
        max: 1000,
        values: [250, 1000],
        slide: function (event, ui) {
          $("#amount").val("$" + ui.values[0] + " - $" + ui.values[1]);
        }
      });
      $("#amount").val("$" + $("#slider-range").slider("values", 0) +
        "- $" + $("#slider-range").slider("values", 1));
    });
    $('.size-active').on('click', function () {
      $('.size-active').not(this).removeClass('size-active-border');
      $(this).toggleClass('size-active-border');
    });
  });


</script>

<div class="col-sm-12 col-md-4 m-0">
  <div class="col-12">
    </head>

    <body>
      <div>Refine by:</div>
      <div class="list-group-item filter-menu mt-3">
        <div class="category-label row col-12" data-toggle="collapse" data-target="#collapse1" aria-expanded="true">
          <div class="col-11">CATEGORY</div>
          <div class="col-1 p-0"><i class="fas fa-minus fa-xs"></i></div>
        </div>

        <div class="filter-content collapse col-11 m-auto show filter-menu" id="collapse1">
          <a href="#" class="row icon-event">
            <div class="col-1 p-0"><i></i></div>
            <div class="col-11">MOTORBIKE</div>
          </a>
          <a href="#" class="row icon-event">
            <div class="col-1 p-0"><i></i></div>
            <div class="col-11">WINTERSPORTS</div>
          </a>
          <a href="#" class="row icon-event">
            <div class="col-1 p-0"><i></i></div>
            <div class="col-11">BIKE</div>
          </a>
          <a href="#" class="row icon-event">
            <div class="col-1 p-0"><i></i></div>
            <div class="col-11">EQUESTRIAN</div>
          </a>
        </div>
      </div>

      <div class="list-group-item filter-menu">
        <div class="category-label row col-12" data-toggle="collapse" data-target="#collapse2" aria-expanded="true">
          <div class="col-11">PRODUCT TYPE</div>
          <div class="col-1 p-0"><i class="fas fa-minus fa-xs"></i></div>
        </div>

        <div class="filter-content collapse col-11 m-auto" id="collapse2">
          <a href="#" class="row icon-event">
            <div class="col-1 p-0"><i></i></div>
            <div class="col-11">LEATHER SUITS</div>
          </a>
          <a href="#" class="row icon-event">
            <div class="col-1 p-0"><i></i></div>
            <div class="col-11">JACKETS</div>
          </a>
          <a href="#" class="row icon-event">
            <div class="col-1 p-0"><i></i></div>
            <div class="col-11">PANTS</div>
          </a>
          <a href="#" class="row icon-event">
            <div class="col-1 p-0"><i></i></div>
            <div class="col-11">ACCESSORIES</div>
          </a>
          <a href="#" class="row icon-event">
            <div class="col-1 p-0"><i></i></div>
            <div class="col-11">HELMETS</div>
          </a>
          <a href="#" class="row icon-event">
            <div class="col-1 p-0"><i></i></div>
            <div class="col-11">SHOES</div>
          </a>
          <a href="#" class="row icon-event">
            <div class="col-1 p-0"><i></i></div>
            <div class="col-11">BOOTS</div>
          </a>
          <a href="#" class="row icon-event">
            <div class="col-1 p-0"><i></i></div>
            <div class="col-11">GLOVES</div>
          </a>
          <a href="#" class="row icon-event">
            <div class="col-1 p-0"><i></i></div>
            <div class="col-11">SAFETY</div>
          </a>
          <a href="#" class="row icon-event">
            <div class="col-1 p-0"><i></i></div>
            <div class="col-11">TECHNICAL LAYERS</div>
          </a>
          <a href="#" class="row icon-event">
            <div class="col-1 p-0"><i></i></div>
            <div class="col-11">CASUAL WEAR</div>
          </a>

        </div>
      </div>

      <div class="list-group-item filter-menu">

        <div class="category-label row col-12" data-toggle="collapse" data-target="#collapse3" aria-expanded="true">
          <div class="col-11">GENDER</div>
          <div class="col-1 p-0"><i class="fas fa-minus fa-xs"></i></div>
        </div>

        <div class="filter-content collapse  col-11 m-auto" id="collapse3">
          <a href="#" class="row icon-event">
            <div class="col-1 p-0"><i></i></div>
            <div class="col-11">UNISEX</div>
          </a>
          <a href="#" class="row icon-event">
            <div class="col-1 p-0"><i></i></div>
            <div class="col-11">MEN</div>
          </a>
          <a href="#" class="row icon-event">
            <div class="col-1 p-0"><i></i></div>
            <div class="col-11">WOMEN</div>
          </a>
        </div>
      </div>

      <div class="list-group-item filter-menu">
        <div class="category-label row col-12" data-toggle="collapse" data-target="#collapse4" aria-expanded="true">
          <div class="col-11">PRICE</div>
          <div class="col-1 p-0"><i class="fas fa-minus fa-xs"></i></div>
        </div>
        <div class="filter-content collapse  col-11 m-auto" id="collapse4">
          <div id="slider-range"></div>
          <input type="text" id="amount" readonly>
        </div>
      </div>

      <div class="list-group-item filter-menu">
        <div class="category-label row col-12" data-toggle="collapse" data-target="#collapse5" aria-expanded="true">
          <div class="col-11">COLOR</div>
          <div class="col-1 p-0"><i class="fas fa-minus fa-xs"></i></div>
        </div>
        <div class="filter-content collapse  col-11 m-auto" id="collapse5">
          <div class="swatch-image">
            <img src="/public/images/products/swatch/PG.33330DAN84Q.CHARCWL.CP.jpg" alt="">
            <img src="/public/images/products/swatch/PG.10256606.JJI15XX.CP.jpg" alt="">
            <img src="/public/images/products/swatch/PG.10123215.JJV61XX.CP.jpg" alt="">
            <img src="/public/images/products/swatch/PG.CJJETHRA.DPEWTMT.CP.jpg" alt="">
            <img src="/public/images/products/swatch/PG.10251573.JJ5AAXX.CP.jpg" alt="">
            <img src="/public/images/products/swatch/PG.10123215.JJV61XX.CP.jpg" alt="">
          </div>
        </div>
      </div>

      <div class="list-group-item filter-menu">
        <div class="category-label row col-12" data-toggle="collapse" data-target="#collapse6" aria-expanded="true">
          <div class="col-11">SIZE</div>
          <div class="col-1 p-0"><i class="fas fa-minus"></i></div>
        </div>

        <div class="filter-content collapse  col-11 m-auto gender-filter" id="collapse6">
          <div class="row col-12 text-center">
            <div class="col-2 size-active p-0">S</div>
            <div class="col-2 size-active p-0">M</div>
            <div class="col-2 size-active p-0">L</div>
            <div class="col-2 size-active p-0">XL</div>
            <div class="col-2 size-active p-0">XXL</div>
          </div>
        </div>
      </div>
  </div> <!-- col.// -->
</div>