<div class="col-sm-12 col-md-3 m-0">
  <ul>

    <li><a href=" /mens">Mens</a></li>
    <ul>
      <li><a href=" /mens/mens-clothing">Clothing</a>
        <ul>
          <li><a href=" /mens/mens-clothing/mens-clothing-suits">Suits</a></li>
          <li><a href=" /mens/mens-clothing/mens-clothing-jackets">Jackets & Coats</a></li>
          <li><a href=" /mens/mens-clothing/mens-clothing-dress-shirts">Dress Shirts</a></li>
          <li><a href=" /mens/mens-clothing/mens-clothing-shorts">Shorts</a></li>
          <li><a href=" /mens/mens-clothing/mens-clothing-pants">Pants</a></li>
        </ul>
      </li>
      <li><a href=" /mens/mens-accessories">Mens Accessories</a>
        <ul>
          <li><a href=" /mens/mens-accessories/mens-accessories-ties">Ties</a></li>
          <li><a href=" /mens/mens-accessories/mens-accessories-gloves">Gloves</a></li>
          <li><a href=" /mens/mens-accessories/mens-accessories-luggage">Luggage</a></li>
        </ul>
      </li>
    </ul>

    <li><a href=" /womens">Womens</a></li>
    <ul>
      <li><a href=" /womens/womens-clothing">Clothing</a>
        <ul>
          <li><a href=" /womens/womens-clothing/womens-outfits">Outfits</a></li>
          <li><a href=" /womens/womens-clothing/womens-clothing-tops">Tops</a></li>
          <li><a href=" /womens/womens-clothing/womens-clothing-dresses">Dresses</a></li>
          <li><a href=" /womens/womens-clothing/womens-clothing-bottoms">Bottoms</a></li>
          <li><a href=" /womens/womens-clothing/womens-clothing-jackets">Jackets & Coats</a></li>
          <li><a href=" /womens/womens-clothing/womens-clothing-feeling-red">Feeling Red</a></li>
        </ul>
      </li>
      <li><a href=" /womens/womens-jewelry">Jewelry</a>
        <ul>
          <li><a href=" /womens/womens-jewelry/womens-jewelry-earrings">Earrings</a></li>
          <li><a href=" /womens/womens-jewelry/womens-jewlery-bracelets">Bracelets</a></li>
          <li><a href=" /womens/womens-jewelry/womens-jewelry-necklaces">Necklaces</a></li>
        </ul>
      </li>
      <li><a href=" /womens/womens-accessories">Accessories</a>
        <ul>
          <li><a href=" /womens/womens-accessories/womens-accessories-scarves">Scarves</a></li>
          <li><a href=" /womens/womens-accessories/womens-accessories-shoes">Shoes</a></li>
        </ul>
      </li>
    </ul>

  </ul>
</div>