<%- include header.ejs %>


<div class="landing-page-container">
    <img class="landing-image" src="/public/images/landing-men.jpg" alt="Mens-Clothing" style="width:100%;">
    <div class="centered">
        <h1 class="animated-text-1">UP TO 50% OFF</h1>
        <h1 class="animated-text-2">ON MEN'S SUITS</h1>
    </div>
    <div class="centered-button">
        <a href="/mens"><button class="btn btn-light btn-lg">SHOP NOW</button></a>
    </div>
</div>

<div class="landing-page-container">
    <img class="landing-image" src="/public/images/landing-women.jpg" alt="Mens-Clothing" style="width:100%;">
    <div class="centered">
        <h1 class="animated-text-1">NEW AUTUMN COLLECTION</h1>
        <h1 class="animated-text-2">GET 20% OFF IN OCTOBER</h1>
    </div>
    <div class="centered-button">
        <a href="/womens"><button class="btn btn-light btn-lg">SHOP NOW</button></a>
    </div>

</div>



<%- include footer.ejs %>