.header-top-section{
    background: #e70026;
    width: 100%;
    text-align: center;
    color: #fff;
    padding: 4px 0;
    font-size: 14px;
}
.header-mid-section{
    background: #1e1e1e;
    color: 	#F8F8F8;
    font-size: 14px;
}
.navbar-toggler-icon i{
    color: #fff;
    border: none;
}
.menu-icon-arrow i{
    color: #1e1e1e;
    box-shadow: none;
}
.icon-event{
    box-sizing: border-box;
    margin-bottom: 5px;
}
div .breadcrumb{
    margin: 0;
    background-color: #fff;
}

.menu-title a{
    font-weight: 600;
    color: #9f9f9f;
}
.menu-title a:hover{
    color: #1e1e1e;
}
.menu-category a{
    color: #9f9f9f;
}
.menu-category a:hover{
    color: #1e1e1e;
}
// Filter menu styling
.category-label{
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    margin-bottom: 15px;
}
.category-label i{
    background:  #f5f5f5;
}
.filter-menu a{
    color: #9f9f9f;
}
.filter-menu-active div{
    color: #1e1e1e;
}
.filter-menu a:hover {
    text-decoration: none;
    color: #1e1e1e;
}
.filter-menu a:active{
    color: #1e1e1e;
}
.category-label i{
    color: #1e1e1e;
    border: none;
}
.icon-event div i {
    color: #e70026;
    border: none;
}
#amount{
    background: none;
    border: none;
    cursor: default;
    color: #1e1e1e;
    font-weight: 600;
}
#amount:active{
    background: none;
    border: none;
    cursor: default;
    color: #1e1e1e;
    font-weight: 600;
}
.list-group-item{
    border: 1px solid #9f9f9f;
}
.gender-filter span{
    color: #9f9f9f;
    font-weight: 600;
    cursor: pointer;
}
.gender-filter span:hover{
    color: #1e1e1e;
    text-decoration: underline;
}
.gender-filter span:active{
    border-bottom: 2px solid #e70026;
}
.breadcrumb a{
    color: #1e1e1e;
}
.breadcrumb a:hover{
    color: #1e1e1e;
}
@media only screen and (max-width: 768px) {
    div .breadcrumb {
        display: none;
    }
}
.size-active{
    cursor: pointer;
}
.size-active-border{
    border: 1px solid #e70026;
    border-bottom: 3px solid #e70026;
}