// Slider stylings
.mainSlidesImage {
    margin: auto;
    display: block;
    height: 100%;
    width: 100%;
}
.smallSlidesImages{
    opacity: 0.4;
    margin: 10px 0 10px 0;
    width: 100%;
}
.smallSlidesImages:hover ,.smallSlidesImages.active {
  opacity: 1;
  border: 1px solid $brightRed;
}
.arrowButton{
    display: block;
    margin: auto;
    text-align: center;
}
// Carousel media query for different devices
@media only screen and (min-width: 1080px) {
  div .owl-carousel.owl-loaded{
        display: none;  
    }
  } 
  @media only screen and (max-width: 1080px) {
    div .main-carousel{
          display: none;  
      }
} 
// Counter Quantity imput
.number div {
    cursor:pointer; 
}
.price{
    font-weight: 600;
    color: $midGray;
    font-size: 22px;
    border-bottom: 1px solid $midGray;
}
#product-name{
    font-weight: 900;
    font-size: 26px;
}
#item-id{
    color: $midGray;
    border-bottom: 1px solid $midGray;
}
.select-currrency-label , .color-label , .size-label , .quantity-label , {
    font-weight: 600;
    margin-top: 25px;
}
.share-label{
    font-weight: 600;
}
.select-currrency{
    width: 50%;
    color: $midGray;
}
.number .minus,.plus{
    width:30px;
    height:38px;
    color: $midGray;
    font-size: 22px;
    background:$whiteColor;
    border:1px solid #ddd;
    text-align: center;
}
.number input{
    height:38px;
    width: 40px;
    text-align: center;
    font-size: 18px;
    border:1px solid #ddd;
}
.cart-btn{
    background-color: $brightRed;
    height: 38px;
    width: 100%;
    color: $whiteColor;
    font-weight: 600;
}
// icons stylings
i{
    padding: 0;
}
.fa-facebook-square{
    color: #3b5998;
    border: none;
    font-size: 20px;
}
.fa-twitter-square{
    color: #1da1f2;
    border: none;
    font-size: 20px;
}
.fa-plus-square{
    color: #ff6550;
    border: none;
    font-size: 20px;
}
.fa-heart{
    color: $midGray;
    border: none;
    font-size: 20px;
}
.fa-square-full{
    color: #cccccc;
    border: none;
    font-size: 14px;
}
.fa-minus{
    color: $darkGray;
    background-color: #f5f5f5;
    border: none;
    font-size: 16px;
    padding: 8px;
}
.fa-chevron-down , .fa-chevron-up {
    color: $darkGray;
    font-size: 22px;
}
#description-text{
    padding-left: 0;
}
.size-active{
    cursor: pointer;
    color: $darkGray;
    font-weight: 600;
    border: 1px solid transparent;
    border-bottom: 3px solid transparent;
}
.size-active-border{
    border: 1px solid $brightRed;
    border-bottom: 3px solid $brightRed;
}
.quantity-container{
    border-bottom: 1px solid $darkGray;
}
.swatch-images img{
    padding: 3px;
    width: 40px;
    height: 40px;
    margin-left: 5px;
    margin-top: 5px;
    cursor: pointer;
}
.description-label{
    font-size: 22px;
    font-weight: 600;
    color: $blackColor;
}
// Media querry for mobile devices
@media only screen and (max-width: 800px) {
    div .share-lg{
      display:none;
    }
    div .cart-lg{
        display: none;
    }
    .wishlist-label{
      font-weight: 600;
      color: $darkGray;
    }
    .description-list{
        font-size: 15px;
        margin-bottom: 50px;
    }
    .description-label{
        font-size: 18px;
        font-weight: 600;
        color: $darkGray;
    }
    .cart-sm{
        padding-top:15px;
        width: 100%;
    }
    }
    // Media querry for for large deveices
@media only screen and (min-width: 800px) {
    div .share-sm{
      display:none;
    }
    div .cart-sm{
        display: none;
    }
  }


