.product-title{
    font-size: 24px;
    font-weight: 600;
    padding-right: 8px;
    margin-left: 12px;
    border-right: 1px solid #9f9f9f;
}
.products-counter{
    font-size: 12px;
    padding: 15px 0 0 10px;
    font-weight: 600;
}
section a {
    padding: 2px 8px;
    margin-bottom: 10px;
    color: #6c757d;
    font-size: 14px;
}
section a:hover {
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
    text-decoration: none;
}
.product-group{
    border: 2px solid transparent;
    margin-bottom: 30px;
}
.product-group:hover{
    border: 1px solid #1a1a1a;
    box-shadow: 0 0 2px #1a1a1a;
    box-sizing: border-box;
}
.swatch-image img{
    width: 20px;
    height: 20px;
}
.swatch-image img:hover{
    border: 1px solid #9f9f9f;
    cursor: pointer;
}
.product-name{
    border-top: 1px solid #9f9f9f;
    margin-top: 5px;
    font-size: 13px;
    font-weight: 600;
}
.product-price{
    color: #9f9f9f;
    font-weight: 500;
    margin-top: 5px;
    border-top: 1px solid #9f9f9f;
}
#amount-mobile{
    border: none;
    box-shadow: none;
    background-color: #fff;
}
@media only screen and (max-width: 900px) {
    .sub-category-label{
        font-weight: 500;
        font-size: 18px;
        border-bottom: 2px solid #c8c7cc;
    }
    div .filter-menu-lg{
      display:none;
    }
    div .product-info{
        display: none;
    }
    div .category-label{
        background-color: #f5f5f5;
        color: #666666;
        margin: 0;
        padding: 10px;
    }
    .icon-event{
        padding: 4px;
        margin-top: 8px;
    }
    .swatch-image{
        margin: 15px;
    }
    .filter-menu div .category-label i{
        background-color: #f5f5f5;;
    }
    .category-label i{
        color: #666666;
    }
    .fa-circle{
        font-size: 12px;
    }
    #refine-by{
        display: none;
    }
    #nav-bar{
        display: none;
    }
    div .list-group-item{
        padding: 0;
        margin: 0;
    }
    div.filters-navigation-hidden{
        display: none;
    }
    #filters-navigation-hide{
        background-color: #000000;
        color: #fff;
        font-weight: 600;
    }
    #filters-navigation-hide i{
        background-color: #000000;
        color: #fff;
    }
    .filters-counter{
        background-color: #666666;
        padding: 2px 5px;
        font-size: 12px;
    }
    .icon-event-mobile div i {
        color: #e70026;
    }
}
  @media only screen and (min-width: 900px) {
    div .filter-menu-sm{
      display:none;
    }
}
