.category-title{
    font-size: 24px;
    font-weight: 600;
    padding-right: 8px;
    margin-left: 12px;
    border-right: 1px solid $darkGray;
}
.products-counter{
    font-size: 12px;
    padding: 15px 0 0 10px;
    font-weight: 600;
}
.product-group{
    border: 2px solid transparent;
    margin-bottom: 30px;
}
.product-group:hover{
    border: 1px solid $blackColor;
    box-shadow: 0 0 2px $blackColor;
    box-sizing: border-box;
}
.swatch-image img{
    width: 20px;
    height: 20px;
}
.swatch-image img:hover{
    border: 1px solid $darkGray;
    cursor: pointer;
}
.product-name{
    border-top: 1px solid $darkGray;
    margin-top: 5px;
    font-size: 13px;
    font-weight: 600;
}
.product-price{
    color: $darkGray;
    font-weight: 500;
    margin-top: 5px;
    border-top: 1px solid $darkGray;
}
#amount-mobile{
    border: none;
    box-shadow: none;
    background-color: $whiteColor;
}
@media only screen and (max-width: 900px) {
    div.filters-navigation-hidden{
        display: none;
    }
    #refine-by{
        display: none;
    }
    #nav-bar{
        display: none;
    }
    div .filter-menu-lg{
      display:none;
    }
    div .product-info{
        display: none;
    }
    .sub-category-label{
        font-weight: 500;
        font-size: 18px;
        border-bottom: 2px solid #c8c7cc;
    }
    .icon-event-mobile:last-of-type > .sub-category-label {
        border-bottom: none;
    }
    div .category-label{
        background-color: #f5f5f5;
        color: $darkGray;
        margin: 0;
        padding: 10px;
    }
    .swatch-image{
        margin: 15px;
    }
    .filter-menu div .category-label i{
        background-color: #f5f5f5;;
    }
    .filter-menu{
        border-top: 1px solid $darkGray;
    }
    .category-label i{
        color: $darkGray;
    }
    .fa-circle{
        font-size: 12px;
    }
    #filters-navigation-hide{
        background-color: $blackColor;
        color: $whiteColor;
        font-weight: 600;
    }
    #filters-navigation-hide i{
        background-color: $blackColor;
        color: $whiteColor;
    }
    .selected-filters{
        background-color: $darkGray;
        padding: 2px 5px;
        font-size: 12px;
        color: $whiteColor;
    }
    .icon-event-mobile div i {
        color: $brightRed;
    }
}
  @media only screen and (min-width: 900px) {
    div .filter-menu-sm{
      display:none;
    }
}
